//Color
$background: #fffffe;
$backgroundtwo: #eaddcf;
$backgroundthree: #8c7851;


//Sizes

$title: 32px;
$title-tablet: 36px;
$title-desktop: 40px;
$subtitle: 26px;
$subtitle-tablet: 30px;
$subtitle-desktop: 34px;
$paragraph: 20px;
$paragraph-tablet: 26px;
$paragraph-desktop: 28px;


//scren-sizes
$tablet: 768px;
$desktop: 992px;

//margin
$marginheader:30px;
$marginarticle: 15px;
